* {
  box-sizing: border-box;
  margin: 0;
}
ul {
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e2520;
}
.app {
  width: 320px;
  height: 550px;
  border: 5px solid violet;
  border-radius: 10px;
  padding: 15px;
  background-color: #d2dee9;
}
.options {
  display: flex;
  justify-content: space-between;
}
.labels {
  margin-top: 30px;
}
label {
  display: block;
  font-weight: bold;
  overflow: hidden;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  direction: ltr;
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto; 
  height: fit-content;
}
#input input {
  font-size: 1.8rem;
  color: #000;
}
#output input {
  font-size: 1.2rem;
  color: #444;
}
#show-all-bttns,
#close {
  border-radius: 50%;
}
#bttns {
  margin-top: 30px;
}
#bttns.show {
  margin-top: 20px;
}
#bttns button {
  background-color: #fff;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  width: 60px;
  aspect-ratio: 1/1;
}
#bttns.show button {
  font-size: 1rem;
  width: 45px;
  height: 45px;
}
#trig-bttns {
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 9px;
}
#bttns.show #trig-bttns {
  display: grid;
}
#bttns.show #trig-bttns button {
  font-size: 0.8rem;
}
.lower-bttns {
  display: grid;
  grid-template-columns: 4fr;
}
#bttns.show .lower-bttns {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
#additional-op {
  display: none;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
#bttns.show #additional-op {
  display: grid;
}
#decimal-bttns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 15px 10px;
}

#bttns.show #decimal-bttns {
  gap: 9px;
}

#decimal-bttns button[value="="] {
  background-color: rgb(238, 90, 37);
  color: #fff;
}
button[value="deg"] {
  color: rgb(238, 90, 37);
}
#decimal-bttns button[value="AC"],
#bttns button[value="%"],
#decimal-bttns button[value="X"],
#bttns button[value="/"],
#decimal-bttns button[value="*"],
#bttns button[value="-"],
#bttns button[value="+"] {
  background-color: #b8ccdf;
}

button.inv-hide {
  display: none;
}

sup {
  pointer-events: auto !important;
}
#backspace {
  display: flex;
  align-items: center;
  justify-content: center;
}
